.statistics {
  max-width: 480px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 60px auto;
}

.title {
  text-transform: uppercase;
  font-size: 27px;
  font-weight: 600;
  padding: 40px;
}

.stat-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
 -items: center;
}

.item-s {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  border-radius: 0;
  width: 100%;
}

.label {
  font-size: 15px;
  margin-bottom: 5px;
}

.percentage {
  font-size: 25px;
}